<div class="question-container">
                    <p><span>{{id}}. </span>{{question}} <span>*</span></p>
                    <small id="error-message-{{id}}">* Es obligatorio responder</small>
                    <div>
                        <input type="radio" name="question-{{id}}" id="true-{{id}}">
                        <label for="true-{{id}}">Si</label>
                    </div>
                    <div>
                        <input type="radio" name="question-{{id}}" id="false-{{id}}">
                        <label for="false-{{id}}">No</label>
                    </div>
                    <div class="details-form-container">
                        <label for="details-{{id}}">Detalles: </label>
                        <textarea name="details-{{id}}" id="details-{{id}}"></textarea>
                    </div>
</div>