<tr class="row-control-nino-sano">
    <th scope="row" class="p-2 py-3 fw-semibold table-grey">{{edad}}</th>
    <td class="p-2 py-3 fw-semibold table-grey">{{fecha}}</td>
    <td class="p-2 py-3 fw-semibold table-grey">{{peso}}</td>
    <td class="p-2 py-3 fw-semibold table-grey">{{talla}}</td>
    <td class="p-2 py-3 fw-semibold table-grey">{{pc}}</td>
    <td class="p-2 py-3 fw-semibold table-grey">{{ta}}</td>
</tr>